html,body {
    height: 100%;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 90%;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 400;
}

h1 {
    border-bottom: 1px solid rgb(230,238,236);
    color: #666;
    text-align: center;
    font-weight: 800;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 300%;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

h4 i {
    color: rgb(0, 154, 206) !important;
}

h5 {
    margin-top: 0px;
    font-size: 120%;
    font-weight: lighter;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

label {
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
    margin-top: 2em;
    display: inline-block;
    color: #222;
}

header {
    flex-shrink: 0;
}

a {
    color: #222;
}

a:visited {
    color: #222;
}

footer {
    background-color: rgb(37, 40, 42);
    color: rgb(255,255,0);
    margin-top: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-shrink: 0;
}

footer a {
    color: rgb(255,255,0) !important;
}

footer .ui-panelgrid-cell {
    background-color: rgb(37, 40, 42) !important;
    color: rgb(255,255,0) !important;
}

.ui-state-hover {
    background: #fff;
}

.ui-widget-content .ui-state-hover {
    background: #fff;
}

.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
    border: 1px solid #fff;
    background: rgb(230, 238, 236) !important;
}

.ui-datatable tbody td {
    border-color: #fff !important;
    border-bottom: 2px solid rgb(230, 238, 236) !important;
}

.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
    padding: 2px;
    background: rgb(230, 238, 236) !important;
    border: none !important;
}

input {
    border-radius: 0px !important;
    border: 0px #fff solid !important;
    border-bottom: 1px solid #aaa !important;
    box-shadow: none !important;
}

button.ui-button {
    border-radius: 4px !important;
    padding: 2px !important;
    border: 1px solid #ccc !important;
    background: #fff !important;
}

.ui-selectonebutton {
    padding: 4px !important;
}

.ui-selectonebutton .ui-button.ui-state-default {
    background: #fff !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.ui-selectonebutton .ui-button.ui-state-default span {
    text-shadow: none !important;
    font-weight: normal !important;
}

.ui-button:hover {
    text-shadow: none !important;
    border: 1px solid #ccc !important;
    background: #fff !important;
}

#filesButton {
    border-radius: 30px !important;
    position: fixed;
    top: 120px;
    right: 40px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    box-shadow: 4px 4px 3px #e6e6e6 !important;
}

.ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active:not(.ui-state-disabled) {
    background: rgb(213,235,238) !important;
    border-color: rgb(0,113,254) !important;
    color: rgb(0,113,254) !important;
}  

button.ui-button span {
    text-shadow: none !important;
    font-weight: normal !important;
}

.ui-button, .ui-button span, button.ui-button.ui-state-default span, .ui-button.ui-state-default span {
    text-shadow: none !important;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    color: #222 !important;
}

button.default {
    background: rgb(213,235,238) !important;
    border-color: rgb(0,113,254) !important;
}

button.ui-button.ui-state-default {
    box-shadow: 0px 1px #e6e6e6 !important;
}

.ui-state-highlight {
    background-color: rgb(143, 220, 241) !important;
    color: #222 !important;
}

.ui-icon.fa {
    color: rgb(0, 154, 206) !important;
}

.ui-button-icon-left.ui-menuitem-link.ui-icon.fa {
    margin-top: -6px !important;
}

.moreInfoLink a {
    color: rgb(0, 154, 206);
    font-weight: bold;
}

.moreInfoLink a:visited {
    color: rgb(0, 154, 206);
    font-weight: bold;
}

.zpravodajRss h6 {
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    font-variant: small-caps;
    margin-bottom: .1em;
    margin-top: 0em;
}

.zpravodajRss img {
    width: 1.8em;
    height: 2em;
    margin-top: .6em;
}

.zpravodajRss .logo {
    display: flex;
    justify-content: center;
}

.newsBox {
    background: linear-gradient(to bottom, #f3f3f3, #dde3e8);
    border-radius: 5px;
    padding: 20px;
    height: 250px;
    overflow: hidden;
}

.grayTableBlock {
    background: linear-gradient(to right, rgb(224, 234, 252), rgb(207, 222, 243));
    border-radius: 3px;
    padding: 10px;
}

.grayTableBlock th {
    background-color: #eee;
}

.grayTableBlock td {
    background-color: #eee;
}

.mainMenu {
    border: none !important;
    margin-top: 0px;
    margin-bottom: 15px;
    border-radius: 0px !important;
    padding-left: 220px !important;
    background-image: url("#{resource['image/menu.png']}");
    background-size: 200px 36px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.ui-menu .ui-widget-header {
    border-radius: none !important;
    background: #fff !important;
    border: none !important;
    border-bottom: 1px solid rgb(230, 238, 236) !important;
}

.articleBody {
    line-height: 1.5;
}

.articleBody img {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.articleBody li {
    line-height: 1.5em;
    height: auto;
}

.articleBody .ql-font-serif {
    font-family: Georgia, "Times New Roman", serif;
}

.articleBody .ql-font-monospace {
    font-family: Monaco, "Courier New", monospace;
}

.articleBody .ql-video.ql-align-center {
    margin: 0px auto;
    display: block;
}

.articleBody .ql-indent-1 {
    padding-left: 1.5em;
}

.articleBody .ql-indent-2 {
    padding-left: 3em;
}

.articleBody .ql-indent-3 {
    padding-left: 4.5em;
}

.articleBody .ql-indent-4 {
    padding-left: 6em;
}

.articleBody .ql-indent-5 {
    padding-left: 7.5em;
}

.articleBody .ql-indent-6 {
    padding-left: 9em;
}

.articleBody .ql-indent-7 {
    padding-left: 10.5em;
}

.articleBody .ql-indent-8 {
    padding-left: 12em;
}

.articleBody .ql-indent-9 {
    padding-left: 13.5em;
}

.articleBody p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.articleBody .ql-align-center {
    text-align: center;
}

.articleBody .ql-align-left {
    text-align: left;
}

.articleBody .ql-align-right {
    text-align: right;
}

.articleBody .ql-align-justify {
    text-align: justify;
}

.articleBody .ql-size-small {
    font-size: 0.75em;
}

.articleBody .ql-size-large {
    font-size: 1.5em;
}

.articleBody .ql-size-huge {
    font-size: 2.5em;
}

.categoryArticle {
    color: rgb(255,255,0);
    background-color: rgb(0,113,254);
    font-size: 120%;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 3px 3px 5px #888;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.fullWidthPicture {
    overflow:hidden;
    padding-bottom:36.25%;
    position:relative;
    height:0;
    margin-left: calc((-100vw / 2 + 960px / 2) - 2px);
    margin-right: calc((-100vw / 2 + 960px / 2) - 4px);
}

.mapResponsive {
    overflow:hidden;
    padding-bottom:36.25%;
    position:relative;
    height:0;
    margin-bottom: -43px;
    margin-left: calc(-100vw / 2 + 960px / 2);
    margin-right: calc(-100vw / 2 + 960px / 2);
}

.mapResponsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 30px;

    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

#content {
    padding-bottom: 3em;
}

.activeDeskItem {
    font-weight: bold;
}

.mainMenuContainer {
    padding: 0px;
    margin: 0px;
}

.mainMenuContainer.ui-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.date {
    position: relative;
    width: 70px;
    font-family: Georgia, serif;
    color: #999;
    margin: 0 auto;
}

.day, .month, .year {
    position: absolute;
}

.day { 
    font-size: 30px;
    top: 15px;
}

.month { 
    top: 0;
    left: 0;
    font-size: 10px;
    margin-top: 5px;
}

.year { 
    top: 19px;
    right: 0;
    font-size: 20px;
    transform: rotate(90deg);
}

.events {
    width: 100%;
    margin-bottom: 2em;
    margin-top: -2em;
}

.events tr {
    height: 5em;
}

.ui-menuitem-icon.ui-icon {
    margin-right: 5px;
}

.icon-bar {
    margin: 2em;
}

.icon-bar a {
    display: inline-block;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    width: 30px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

@keyframes riseIcon {
    0% {
        text-shadow: none;
    }

    100% {
        font-size: 350%;
        text-shadow: 3px 3px 5px #888;
    }
}

@media only screen and (max-width: 979px) {
    #content {
        margin-left: 1em;
        margin-right: 1em
    }

    .mapResponsive {
        display: none;
    }

    .mainMenu {
        display: none;
    }

    .menuButtonContainer {
        display: block;
        background: white;
        height: 36px;
        background-image: url("#{resource['image/menu.png']}");
        background-size: 200px 36px;
        background-position: right center;
        background-repeat: no-repeat;
    }

    .fullWidthPicture {
        display: none;
    }
}

@media only screen and (min-width: 980px) {
    #content {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }

    .mapResponsive {
        display: block;
    }

    .mainMenu {
        display: block;
    }

    .menuButtonContainer {
        display: none;
    }

    .fullWidthPicture {
        display: block;
    }
}

@media only screen and (max-width: 1599px) {
    .zpravodajRss {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    .zpravodajRss {
        position: fixed;
        top: 300px;
        right: 50px;
        width: 230px;
        line-height: 1.5;
        background: #fff;
        box-shadow: 3px 3px 5px #888 !important;
        border: 1px solid #eee;
        border-radius: 3px;
        padding: 1em;
    }
}
