html,body {
    height: 100%;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 90%;
}

h1, h2, h3, h4, h5, h6 {
    color: #666;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: normal;
    font-size: 160%;
}

h4 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 0px;
    margin-top: 0px;
}

h5 {
    margin-top: 0px;
    font-size: 120%;
    text-align: center;
    font-weight: lighter;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

label {
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
    margin-top: 2em;
    display: inline-block;
}

header {
    flex-shrink: 0;
}

footer {
    background-color: rgb(37, 40, 42);
    color: rgb(255,255,0);
    margin-top: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-shrink: 0;
}

footer a {
    color: rgb(255,255,0) !important;
}

footer .ui-panelgrid-cell {
    background-color: rgb(37, 40, 42) !important;
    color: rgb(255,255,0) !important;
}

input {
    border-radius: 0px !important;
    border: 0px #fff solid !important;
    border-bottom: 1px solid #aaa !important;
}

button.ui-button {
    border-radius: 0px !important;
    padding: 5px !important;
    border: 1px solid rgb(0,113,254) !important;
    background: white !important;
}

button.ui-button span {
    text-shadow: none !important;
}

.ui-button, .ui-button span, button.ui-button.ui-state-default span, .ui-button.ui-state-default span {
    text-shadow: none !important;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    color: black !important;
}

button.default {
    background: rgb(0,113,254) !important;
}

button.ui-button.ui-state-default {
    box-shadow: none !important;
}

.grayTableBlock {
    background-color: #eee;
    border-radius: 3px;
    padding: 5px;
}

.grayTableBlock th {
    background-color: #eee;
}

.grayTableBlock td {
    background-color: #eee;
}

.mainMenu {
    background-color: rgb(0,113,254) !important;
    box-shadow: 3px 3px 5px #888 !important;
    border: none !important;
    margin-top: -5px;
    margin-bottom: 10px;
    border-radius: 0px !important;
    padding-left: 220px !important;
    background-image: url("#{resource['image/menu.png']}");
    background-position: left center;
    background-repeat: no-repeat;
}

.articleBody .ql-align-center {
    text-align: center;
}

.articleBody .ql-align-left {
    text-align: left;
}

.articleBody .ql-align-right {
    text-align: right;
}

.articleBody .ql-align-justify {
    text-align: justify;
}

.articleBody .ql-size-small {
    font-size: 0.75em;
}

.articleBody .ql-size-large {
    font-size: 1.5em;
}

.articleBody .ql-size-huge {
    font-size: 2.5em;
}

.articleBody img {
    max-width: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

.categoryArticle {
    color: rgb(255,255,0);
    background-color: rgb(0,113,254);
    font-size: 120%;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 3px 3px 5px #888;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.mapResponsive {
    overflow:hidden;
    padding-bottom:36.25%;
    position:relative;
    height:0;
}
.mapResponsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 30px;
    
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
	transform: scale(.1);
	opacity: 0.0;
    }
    50% {
	opacity: 1;
    }
    100% {
	transform: scale(1.2);
	opacity: 0;
    }
}

#content {
    padding-bottom: 3em;
}

.activeDeskItem {
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    #content {
	margin-left: 1em;
	margin-right: 1em
    }

    .mapResponsive {
	display: none;
    }
}

@media only screen and (min-width: 980px) {
    #content {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
    }

    .mapResponsive {
	display: block;
    }
}
